.navbar {
    padding-left: 40px;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 500;
}

.title {
    display: inline;
    color: white;
    font-size: 34px;
    font-weight: 500;
}

#albumArt {
    height: 50px;
}

.result {
    display: inline-block;
}

.wrapper {
    margin-top: 90px;
    min-height: calc(100vh - 149px);
    text-align: center;
    padding: 0;
}

.footer {
    padding: 12px;
    width: 100%;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    @keyframes resize1 {
        from {font-size: 34px;}
        to {font-size: 27px;}
    }
    @keyframes resize2 {
        from {height: 50px;}
        to {height: 40px;}
    }
    @keyframes moving1 {
        from {padding-left: 40px;}
        to {padding-left: 25px;}
    }
    .navbar {
        animation-name: moving1;
        animation-duration: 1s;
        padding-left: 25px;
    }
    .navbar-brand, .title {
        animation-name: resize1;
        animation-duration: 1s;
        font-size: 27px;
    }
    #albumArt {
        animation-name: resize2;
        animation-duration: 1s;
        height: 40px;
    }
    .wrapper {
        margin-top: 67px;
        min-height: calc(100vh - 126px); 
    }
    #clear, #favorite {
        width: 122px;
    }
  }

  @media screen and (max-width: 575px) {
    @keyframes resize3 {
        from {font-size: 27px;}
        to {font-size: 20px;}
    }
    @keyframes resize4 {
        from {height: 40px;}
        to {height: 30px;}
    }
    @keyframes moving2 {
        from {padding-left: 25px;}
        to {padding-left: 10px;}
    }
    .navbar {
        animation-name: moving2;
        animation-duration: 1s;
        padding-left: 10px;
    }
    .navbar-brand, .title {
        animation-name: resize3;
        animation-duration: 1s;
        font-size: 20px;
    }
    #albumArt {
        animation-name: resize4;
        animation-duration: 1s;
        height: 30px;
    }
    .playBtn {
        font-size: 10px;
    }
    .wrapper {
        margin-top: 60px;
        min-height: calc(100vh - 119px); 
    }
    #clear, #favorite {
        width: 100%;
    }
  }